<!DOCTYPE html>
<html>
<%- partial("partials/_header") %>

<body>
    <%- partial("partials/_nav") %>
    
    <div class="page">
        <header>Projects</header>
        <div class=row>
            <div class="column left">
                <% for(let i = public.projects._contents.length-1; -1 < i; i--){ %>
                <%  let file = public.projects._contents[i] %>

                <p>
                    <a onclick='document.getElementById("content").innerHTML = `<%- partial("projects/"+ file ) %>`;
                    window.scrollTo(0, 0);'>
                        <%= file.replace(".html", "") %>
                    </a>
                </p>

                <% } %>
            </div>
            <div class="column right" id="content"></div>
        </div>
    </div>

    <%- partial("partials/_footer") %>


</body>

</html>